/*simple selectors*/
/*tag selector :we use html tags to select an element*/
p{
    background-color: lightblue;
    border:1px solid red;
    color:brown;
    font-size:40px;
    font-weight: 500;
}

/*class selector:it select html element with speicifies class attributes*/
/*  .class_name{
    property:value;
}*/

.para{
    color:aqua;
}


/*id selector it selects the html element with the specified id*/
/* #id_name{
    property:value;
}*/
#para-1{
    color:darkgreen
}


/*universal selector: selects all the html elements in your page*/
*{
    text-align: center;
}



/*grorping selector:used for grouping different selectors with  same style*/
/*.para,para-1*/
h1, p{
    border: 1px dashed purple;
    color :maroon;
    font-size : 40px;
}

/*example*/
.btn{
    border:1px solid black;
    border-radius: 10px;
    padding:10px 22px;
    width :20%;
    font-size:16px
}

#btn-1{
    background-color: aquamarine;
}

#btn-2{
    background-color: blanchedalmond;
}

#btn-3{
background-color: aqua;
}
h1~p{
    color: blanchedalmond;
}